<article>
  <section class="col">
    <div class="news-special-content">
          <h2>About</h2>
        <p><span class="bold">Bellevue Beer</span> offers a wide variety of <span class="bold">domestic, import</span> and <span class="bold">craft beers</span> as well as a wide assortment of kegs, mini kegs and snacks to choose from. </p>
      <a class="news-specials-button" href="{{ site.baseurl }}/news-specials/index.html">News &amp; Specials</a>
    </div>

  </section>
    <!-- news specials content --->
  <section class="col">
    <div class="contact-content">
      <h3>Come visit us to view our entire beer selection.</h3>
      <ul class="contact-list">
        <li class="address-li">4489 Ohio River Blvd, Bellevue, PA 15202</li>
        <i class="fa fa-map-marker"></i>
        <li class="phone-li">412-415-3997</li>
        <i class="fa fa-phone"></i>
        <li class="follow-li">Follow Us</li>
          <i class="fa fa-facebook"></i>
      </ul>
    </div>
  </section>
  <section class="col">
    <div class="hours-content">
      <h2>Hours</h2>
      <ul class="hours-list">
        <li>Monday-Saturday <br> <span class="light"> 10am-11pm</span></li>
        <li class="sunday-li">Sunday <br> <span class="light"> 10am-9pm</span></li>
        <img src="{{site.baseurl}}/assets/clock-lg.png" alt="">
      </ul>
    </div>
  </section>
  <!-- hours content --->
</article>
